

{% extends 'base.html' %}
{% block content %}


<h1 align="center"><a>Breaking Bad In 1 Minute</a></h1>


<div class="iframe-container">
  <!--iframe link is the link to the jsfiddle-->
    <iframe width="700" height="400" src="https://www.youtube.com/embed/oZm_N6aSU0E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen;></iframe>
</div>

<style>
  .iframe-container {
        margin-top: 70px;
		text-align:center;
  		width:100%;
  }
</style>


{% endblock %}